extends layout

append css
	link(rel='stylesheet', href='/stylesheets/autheration.css')

block content
	div.login
		h1= title
		div.middle
			form(method=method, action=action)
				if error
					p= errorMessage

				input(
					type='text',
					id='username',
					name='username',
					placeholder='user name'
					autocomplete="off")

				input(	
					type='password',
					id='password',
					name='password'
					placeholder='password'
					autocomplete="off")

				button(type='submit')= btnTitle
				a(href=linkHref)= linkText