extends layout

block content
	script(src='/game/playTheme.js')
	div(class='container' id='view-friends')
		h1= 'view Friends'
		if (status)
			strong #{status}
			if entries !== false
				hr
				each item in entries
						form(method='post', action='/viewFriends')
							input(type='hidden', id='who', name='who', value=item)

							//p #{item}
							div: button(type='submit') View 
								p(class='inline-block') #{item}'s
								|  Island
					hr
			a(href='/menu') Back to menu